@use "../base/variables" as v;
@use "../base/mixins" as m;

.container {
  max-width: 1440px;
  padding: 0 140px;
  margin: 0 auto;

  @include m.respond-to("xl") {
    padding: 0 80px;
  }

  @include m.respond-to("lg") {
    padding: 0 40px;
  }

  @include m.respond-to("md") {
    padding: 0 20px;
  }

  @include m.respond-to("sm") {
    padding: 0 10px;
  }
}
