@forward "container";
@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  @extend .container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 140px;
  margin-bottom: 140px;

  @include m.respond-to("xl") {
    gap: 10px;
    padding: 20px 20px;
    margin-bottom: 100px;
  }

  @include m.respond-to("md") {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 80px;
  }
}
