@forward "container";
@use "../base/variables" as v;

.hero {
  @extend .container;

  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;

  &__text {
    color: map-get(v.$colors, gray-40);
  }

  &__button {
    margin-top: 16px;
    margin-bottom: 200px;
  }
}
