@forward "container";
@use "../base/variables" as v;
@use "../base/mixins" as m;

.hero {
  @extend .container;

  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 200px;

  @include m.respond-to("xl") {
    margin-bottom: 100px;
  }

  @include m.respond-to("md") {
    margin-bottom: 50px;
  }

  &__text {
    color: map-get(v.$colors, gray-40);
    margin-bottom: 16px;
  }
}
