@forward "container";
@use "../base/variables" as v;
@use "../base/mixins" as m;

.plans {
  @extend .container;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;

  @include m.respond-to("xl") {
    margin-bottom: 100px;
  }

  @include m.respond-to("md") {
    margin-bottom: 50px;
  }

  &__strap {
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__text {
    text-align: center;
    align-self: center;
    max-width: 500px;
    margin-bottom: 100px;

    @include m.respond-to("xl") {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }

  &__availible {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include m.respond-to("xl") {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }
}
